<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="UserAccountsConnectionString" connectionString="Data Source=MIR-PC;Initial Catalog=UserAccounts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Emp_NIK12355285ConnectionString" connectionString="Data Source=kiict;Initial Catalog=Emp_NIK12355285;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EUCarsConnectionString" connectionString="Data Source=MIR-PC;Initial Catalog=EUCars;Integrated Security=True"
      providerName="System.Data.SqlClient" />
	 <add name="UserAccountsConnectionString" connectionString="Data Source=MIR-PC;Initial Catalog=UserAccounts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
